<h1 class="main-header">This is the task</h1>
<p class="main-body"><%= @task.body %> | <%= @task.position %></p>
<div class="btn-group" role="group" >
  <button type="button" class="btn btn-default"> <%= link_to "Edit", { :controller => :tasks,
    action: "edit", id: @task.id } %> </button>
  <button type="button" class="btn btn-default"> <%= link_to "Delete", { :controller => :tasks,
        :action => 'destroy', :id => @task.id }, :method => :delete %> </button>
</div>
