/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 70px;
  min-height: 20em;
}

p {
  font-size: 1.5em;
}

.navbar {
  background-color: #101D42;
}

button {
  a {
  color: white;
  }
}

.btn-default {
  background-color: #337AB7;
}

.main-header {
  color: #6564DB;
}

.main-body {
  color: #6564DB;
}

.main-link {
  color: #6564DB;
}

.footer {
  background-color: #101D42;
  height: 3.75em;
}
